$soft-red: hsl(7, 99%, 70%);
$soft-red-trans: hsla(7, 99%, 70%, 0.3);
$yellow: hsl(51, 100%, 49%);
$yellow-trans: hsla(51, 100%, 49%, 0.3);
$dark-desat-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-cyan: hsl(168, 34%, 41%);
$dark-desat-blue: hsl(212, 27%, 19%);
$v-dark-gray-blue: hsl(213, 9%, 39%);
$dark-gray-blue: hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$navbar-blue: hsl(200, 100%, 62%);
$cyan: hsl(167, 44%, 70%);